@use 'app/ui/styles/variables';
@use 'app/ui/styles/reset';
@use 'app/ui/styles/typography';

body {
  font-family: 'Outfit', sans-serif;
  background-color: var(--bg-page);
  color: var(--text-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
